.background {
    background-image: url(../../../assets/svg/wave-haikei.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.titulo {
    font-family: 'Nome da Fonte', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #60785f;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding-bottom: 50px;
}

.col {
    width: 33rem;
    padding: 5px;
    text-align: center;
}

.buttonsTmn {
    width: 100rem;
}

.meu-botao {
    background-color: #60785f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}