<div class="background container">
    <div class="titulo">
        Pergunta
    </div>
    <div *ngIf="perguntaDaVez">
        <label id="example-radio-group-label"> {{ perguntaDaVez.descricao }}</label>
        <div>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="radio-group" [(ngModel)]="selecionado">
                <mat-radio-button *ngFor="let resposta of perguntaDaVez.respostas" class="radio-button"
                    [value]="resposta.certa">{{resposta.descricao}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div>
        <button class="meu-botao" (click)="reposta()">Responder</button>
    </div>
</div>