<div class="background container">
    <h2>EcoJogo da Velha: Instruções</h2>
    <h3>Objetivo do Jogo:</h3>
    <p>
        Vencer o jogo da velha ao mesmo tempo em que responde corretamente perguntas sobre o meio ambiente.
        Requisitos Tecnológicos:
        Aplicativo Angular para o jogo
        Dispositivo com um navegador web moderno
        Instruções:
        Configuração Inicial:
        Abra o aplicativo Angular do EcoJogo da Velha.
        Cada jogador faz login e escolhe sua peça (X ou O).
        Seleção de Quadrados:
        Os jogadores alternam suas jogadas, respondendo a uma pergunta relacionada ao meio ambiente para escolher um
        quadrado no tabuleiro.
        Respostas corretas concedem o direito de escolher um quadrado.
        Respostas incorretas resultam na perda da vez, e o próximo jogador pode escolher um quadrado sem responder a uma
        pergunta.
        Objetivo:
        O objetivo é vencer o jogo da velha, completando uma linha horizontal, vertical ou diagonal com suas peças.
        Fim do Jogo:
        O jogo termina quando um dos jogadores completa uma linha e ganha o jogo da velha.
        Se o tabuleiro ficar cheio e nenhum jogador vencer, considera-se empate.
        Vitória Ambiental:
        Além do objetivo principal, os jogadores também são incentivados a aprender mais sobre o meio ambiente por meio
        das
        perguntas e respostas.
        Dicas Adicionais:
        Personalize o aplicativo Angular para exibir perguntas e respostas de maneira interativa.
        Implemente um sistema de pontuação para acompanhar o desempenho dos jogadores nas perguntas ambientais.
        Explore recursos do Angular para criar uma experiência de jogo fluida e envolvente.
        Divirta-se jogando o EcoJogo da Velha enquanto aprende sobre o meio ambiente!
    </p>
</div>