<div class="background container">
    <div class="titulo">
        Velha The Game
    </div>
    <div class="content">
        Objetivo do Jogo:<br>
        Vencer o jogo da velha ao mesmo tempo em que responde corretamente perguntas sobre o meio ambiente.<br><br>

        Instruções:<br>
        Configuração Inicial:<br>
        Cada jogador faz login e escolhe sua peça (X ou O).<br><br>

        Seleção de Quadrados:<br>
        Os jogadores alternam suas jogadas, respondendo a uma pergunta relacionada ao meio ambiente para escolher um
        quadrado no tabuleiro.<br>
        Respostas corretas concedem o direito de escolher um quadrado.<br>
        Respostas incorretas resultam na perda da vez, e o próximo jogador pode escolher um quadrado sem responder a uma
        pergunta.<br><br>

        Objetivo:<br>
        O objetivo é vencer o jogo da velha, completando uma linha horizontal, vertical ou diagonal com suas
        peças.<br><br>

        Fim do Jogo:<br>
        O jogo termina quando um dos jogadores completa uma linha e ganha o jogo da velha.<br>
        Se o tabuleiro ficar cheio e nenhum jogador vencer, considera-se empate.<br><br>

        Vitória Ambiental:<br>
        Além do objetivo principal, os jogadores também são incentivados a aprender mais sobre o meio ambiente por meio
        das perguntas e respostas.<br><br>
    </div>
    <div class="position">
        <div class="button-container">
            <button routerLink="" class="meu-botao">Menu</button>
        </div>
    </div>
</div>